body{margin:0;    
}
.card {
    width: 500px;
    height: fit-content;
    border: 3px solid black;
    border-radius: 25px;
    background-color: rgb(158, 158, 158);
    margin: 10px;
}
.imgcard {
    width: 100px;
    border-radius: 50%
}
.imgcard img {
    width: 85%;
    height: 85%;
}
.titulo_style {
    font-size: 35;
}
.titulo_style .cor_nome {
    color: rgb(92, 233, 102);
}
.nome_style {
   font-size: 35;}

 .card_mensagem span {
    font-style: italic;
    font-weight: bold;
    color: #48deec
}
