body{margin:0; }
 .div_1 {
    background-color: #ff6600;
    width: 500px;
    height:500px;}
.div_filha{
    background-color:  #4dff4d;
    width: 250px;
    height: 250px;}
.class_p{
    color: #ffff;
    background-color: #ff4d4d;
    font-size: 25px;
    font-family: monospace;
    font-style: bold;
}
.style_divD{
background-color: rgb(1, 124, 255);
height: 500%;
width: 235;}
.style_filha2{
background-color: rgb(223, 17, 17);
height: 25%;
width:75%;
}