body{margin:0; }
 .div_1 {
    background-color: #00ff84;
    width: 250px;
    height:250px;}
.div_filha{
    background-color:  #b80feb;
    width: 1250px;
    height: 125px;}
.class_p{
    color: #eb8f8f;
    background-color: #4f13bf;
    font-size: 35px;
    font-family: fantasy;
    font-style: bold;
}
.style_divD{
    width: 75vw; 
    height: 25vh;
    background-color: rgb(42, 136, 19)}

.style_filha2{
    width: 30vw; 
    height: 45vh;
    background-color: rgb(191, 255, 0)
}